@import "tailwindcss";

/* Define o tema CLARO como padrão */
:root {
    color-scheme: light;
}

body {
    /* Fundo cinza bem claro para destacar os cards brancos */
    @apply bg-gray-50 text-gray-900 antialiased;
    min-height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f4f4f5;
    /* Zinc-100 */
}

::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    /* Zinc-300 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f9b410;
    /* Amarelo Beehouse */
}